# Logs
logs/
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Build directory
out/

# Visual Studio Code's user directories
.vscode*

# Visual Studio Code Extension package
*.vsix

coverage
\.nyc_output